body {
  margin: 0;
  font-family: system-ui;
  background: #ece5dd;
}

.chat-container {
  width: 420px;
  height: 600px;
  margin: 40px auto;
  background: #fff;
  display: flex;
  flex-direction: column;
  border-radius: 8px;
}

.chat-header {
  padding: 12px;
  background: #075e54;
  color: white;
  font-weight: bold;
}

.messages {
  flex: 1;
  padding: 10px;
  overflow-y: auto;
}

.message {
  padding: 8px 12px;
  margin: 6px 0;
  max-width: 70%;
  border-radius: 8px;
}

.message.me {
  background: #dcf8c6;
  margin-left: auto;
}

.message.them {
  background: #f1f0f0;
}

.input-area {
  display: flex;
  padding: 8px;
  border-top: 1px solid #ddd;
}

.input-area input {
  flex: 1;
  padding: 8px;
}

.input-area button {
  margin-left: 6px;
}


.files {
  display: flex;
  flex-wrap: wrap;
}